<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Update a Landmark</h1>

        <form action="/landmarks/<%= @landmark.id %>/edit" method="POST">
            <input id="hidden" type="hidden" name="_method" value="patch">
            Name: <input type="text" name="landmark[name]" value="<%= @landmark.name %>"><br>
            Year Completed: <input type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>"> <br>
            <input type="submit" value="submit">
        </form>

    </body>
</html>
